* {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
.container {
  max-width: 1910px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  @extend %OpenSans-700;
  font-size: 48px;
  line-height: 65px;
  text-align: left;
  color: #383838;
  margin-bottom: 50px;
}
.breadcrumbs {
  //background-color: lightcoral;
  padding-bottom: 50px;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item + .breadcrumbs__item {
    margin-left: 56px;
  }
  &__link {
    @extend %OpenSans-400;
    font-size: 18px;
    line-height: 32px;
    color: #72bf44;
  }
  &__item {
    position: relative;
    &:before {
      position: absolute;
      content: url('../img/icon/arrow-breadcrumbs.svg');
      width: 14px;
      height: 10px;
      left: -35px;
      top: 7px;
    }
    &:first-child {
      &:before {
        content: none;
      }
      .breadcrumbs__link {
        color: #39373a;
      }
    }
  }
}
