$default: #72BF44;
$bg: #f5f5f5;
$title: #383838;

%OpenSans-400 {
  font-family: "OpenSans-Regular, sans-serif";
  font-style: normal;
  font-weight: 400;
}
%OpenSans-600 {
  font-family: "OpenSans-SemiBold, sans-serif";
  font-style: normal;
  font-weight: 600;
}
%OpenSans-700 {
  font-family: "OpenSans-Bold, sans-serif";
  font-style: normal;
  font-weight: 700;
}

